server:
  port: 8080
spring:
    application:
      name: user-service
    datasource:
      url: ${DB_URL:jdbc:mysql://localhost:3306/userdb?createDatabaseIfNotExist=true}
      username: ${DB_USERNAME:root}
      password: ${DB_PASSWORD:rootpassword}
      driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect
          format_sql: true
#  eureka:
#    client:
#      service-url:
#        defaultZone: http://localhost:8761/eureka/
#      fetch-registry: true
#      register-with-eureka: true
#    instance:
#      prefer-ip-address: true
#      instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
management:
    endpoints:
      web:
        exposure:
          include: health,info,metrics